<p id="notice"><%= notice %></p>

<h1>Busies</h1>

<table class="table">
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @busies.each do |busy| %>
      <tr>
        <td><%= busy.start_time %></td>
        <td><%= busy.end_time %></td>
        <td><%= busy.employee_id %></td>
        <td><%= link_to 'Show', busy %></td>
        <td><%= link_to 'Edit', edit_busy_path(busy) %></td>
        <td><%= link_to 'Destroy', busy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Busy', new_busy_path %>
