<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @busy_time.employee_id %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @busy_time.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @busy_time.end_time %>
</p>

<%= link_to 'Edit', edit_busy_time_path(@busy_time) %> |
<%= link_to 'Back', busy_times_path %>
