<p id="notice"><%= notice %></p>

<h1>Busytimes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @busytimes.each do |busytime| %>
      <tr>
        <td><%= link_to 'Show', busytime %></td>
        <td><%= link_to 'Edit', edit_busytime_path(busytime) %></td>
        <td><%= link_to 'Destroy', busytime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Busytime', new_busytime_path %>
